.current-forecast {
    text-align: center;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: table;
    width: 100%;
    .location {
        font-weight: 700;
    }
    .temperature {
        font-size: 86px;
        font-weight: 600;
        margin: 10px 15px 15px 15px;
    }
    .summary {
        opacity: 0.54;
        font-size: 24px;
        margin: 0px;
    }
    .convertTemperature {
        font-size: 22px;
        font-weight: 200;
        margin: 10px 5px;
    }
}

#day {
    border-radius: 10px;
    background: #0093e9;
    background: linear-gradient(315deg, rgba(2, 180, 214, 1) 0%, rgba(0, 147, 233, 1) 100%);
    .day {
        display: table-cell;
        width: 33%;
        vertical-align: middle;
        padding: 30px;
        .weather-status {
            display: block;
            width: fit-content;
            width: 100%;
            height: 170px;
            .weatherWidgetRow-moveVertical {
                display: block;
                margin-top: 25px;
                #sun {
                    margin-top: 10px;
                    color: yellow;
                    filter: drop-shadow(1px 1px 10px yellow);
                }

                #sunCloud {
                    color: yellow;
                    filter: drop-shadow(1px 1px 10px yellow);
                }
                #cloud {
                    color: rgb(188, 229, 241);
                    filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
                    animation-name: cloudMovement;
                    animation-iteration-count: infinite;
                    animation-duration: 10s;
                    animation-timing-function: ease-in-out;
                    animation-direction: alternate;
                    margin-left: -20px;
                }
            }
            .weatherWidgetRow-moveHorrizal {
                display: block;
                margin-top: -100px;
                #cloud {
                    color: rgb(137, 192, 209);
                    filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
                    margin-left: 50px;
                    margin-top: -10px;
                    animation-name: cloudMovementReverse;
                    animation-iteration-count: infinite;
                    animation-duration: 10s;
                    animation-timing-function: ease-in-out;
                    animation-direction: alternate;
                }
                #cloudSun {
                    color: rgb(226, 234, 236);
                    filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
                    animation-name: cloudMovement;
                    animation-iteration-count: infinite;
                    animation-duration: 10s;
                    animation-timing-function: ease-in-out;
                    animation-direction: alternate;
                    margin-left: -20px;
                }
                .rain {
                    text-align: center;
                    display: flex;
                    z-index: -1;
                    padding: 90px 20px 20px 20px;
                    margin-left: 15%;
                    width: 140px;
                    height: 40px;
                    // transform: rotate(0.3);
                    span {
                        display: block;
                        bottom: 8px;
                        width: 8px;
                        height: 8px;
                        background: rgb(199, 203, 204);
                        // background: red;
                        margin: 0 2px;
                        border-radius: 50%;
                        animation-name: animate;
                        animation-iteration-count: infinite;
                        animation-timing-function: 5s linear;
                        animation-duration: calc(15s / var(--i));
                        transform-origin: bottom;
                    }
                }
            }
        }
    }
}

#night {
    border-radius: 10px;
    background: black !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(8, 7, 42, 1) 75%, rgb(8, 10, 63) 100%) !important;
    .night {
        display: table-cell;
        width: 33%;
        vertical-align: middle;
        padding: 30px;
        .weather-status {
            display: block;
            width: fit-content;
            width: 100%;
            height: 170px;
            .weatherWidgetRow-moveVertical {
                display: block;
                .moon {
                    margin-top: 40px;
                    margin-left: 10px;
                    color: white;
                    filter: drop-shadow(1px 1px 10px white);
                }
            }
            .weatherWidgetRow-moveHorrizal {
                display: block;
                vertical-align: middle;
                margin-top: -100px;
                #cloud {
                    color: rgb(69, 167, 197);
                    filter: drop-shadow(1px 1px 5px rgb(69, 163, 192));
                    animation-name: cloudMovement;
                    animation-iteration-count: infinite;
                    animation-duration: 10s;
                    animation-timing-function: ease-in-out;
                    animation-direction: alternate;
                    margin-left: -20px;
                }
                #cloud-rain {
                    // position: relative;
                    margin-top: -20px;
                    color: rgb(226, 234, 236);
                    filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
                }
                .rain {
                    text-align: center;
                    display: flex;
                    z-index: 1;
                    padding: 80px 20px;
                    margin-left: 15%;
                    width: 140px;
                    height: 40px;
                    span {
                        display: block;
                        bottom: 8px;
                        width: 8px;
                        height: 8px;
                        background: rgb(104, 175, 197);
                        margin: 0 2px;
                        border-radius: 50%;
                        animation-name: animate;
                        animation-iteration-count: infinite;
                        animation-timing-function: 5s linear;
                        animation-duration: calc(15s / var(--i));
                        transform-origin: bottom;
                    }
                }
                // .cloud{
                //     color: rgb(104, 175, 197);
                //     filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
                // }
            }
        }
    }
}

#location-show {
    position: absolute;
    text-align: left;
    .title {
        font-size: 18px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .coordinates {
        .latlongitude {
            margin: 10px;
        }
    }
    .time {
        display: inline-block !important;
        .datetime {
            margin: 10px;
            font-style: oblique;
            font-weight: 600;
        }
    }
}

#detail-more {
    position: absolute;
    .title {
        padding-top: 60px;
        font-size: 18px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: left;
    }
    .detail-row {
        // margin: 10px 12px;
        display: block;
        text-align: left;
        padding-left: 20px;
        .column1 {
            float: left;
            width: 50%;
            margin-top: 10px;
            p {
                display: inline;
                font-size: 16px;
                img {
                    height: 26px;
                    width: 26px;
                    margin: 0 6px;
                    position: relative;
                    display: inline-block;
                }
                i{
                    position: relative;
                    display: inline-block;
                    .tooltiptext {
                        visibility: hidden;
                        width: 120px;
                        background-color: black;
                        color: #fff;
                        text-align: center;
                        padding: 5px 0;
                        border-radius: 6px;

                        /* Position the tooltip text - see examples below! */
                        position: absolute;
                        z-index: 1;
                    }

                    /* Show the tooltip text when you mouse over the tooltip container */
                    i:hover .tooltiptext {
                        visibility: visible;
                    }
                }
            }
        }
        .column2 {
            float: right;
            width: 50%;
            margin-top: 10px;
            p {
                display: inline;
                font-size: 16px;
                img {
                    height: 26px;
                    width: 26px;
                    margin: 0 6px;
                    position: relative;
                    display: inline-block;
                }
                i,
                img {
                    .tooltiptext {
                        visibility: hidden;
                        width: 120px;
                        background-color: black;
                        color: #fff;
                        text-align: center;
                        padding: 5px 0;
                        border-radius: 6px;

                        /* Position the tooltip text - see examples below! */
                        position: absolute;
                        z-index: 1;
                    }

                    /* Show the tooltip text when you mouse over the tooltip container */
                    .i:hover .tooltiptext .img:hover .tooltiptext {
                        visibility: visible;
                    }
                }
            }
        }
    }
}



// @property --p{
//     syntax: '<number>';
//     inherits: true;
//     initial-value: 1;
//   }
  
//   .pie {
//     --p:20;      /* the percentage */
//     --b:22px;    /* the thickness */
//     --c:darkred; /* the color */
//     --w:150px;   /* the size*/
    
//     width:var(--w);
//     aspect-ratio:1/1;
//     position:relative;
//     display:inline-grid;
//     margin:5px;
//     place-content:center;
//     font-size:25px;
//     font-weight:bold;
//     font-family:sans-serif;
//   }

// .pie:after {
//     content:"";
//     position:absolute;
//     border-radius:50%;
//   }
//   .pie:before {
//     inset:0;
//     background:
//       radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
//       conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
//     -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
//             mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
//   }
//   .pie:after {
//     inset:calc(50% - var(--b)/2);
//     background:var(--c);
//     transform:rotate(calc(var(--p)*3.6deg - 90deg)) translate(calc(var(--w)/2 - 50%));
//   }
//   .animate {
//     animation:p 1s .5s both;
//   }
//   .no-round:before {
//     background-size:0 0,auto;
//   }
//   .no-round:after {
//     content:none;
//   }
//   @keyframes p{
//     from{--p:0;}
//   }

  
  

.vertical-divider {
    border-left: 1px solid white;
    height: 100%;
}
@keyframes cloudMovement {
    from {
        margin-right: 50px;
    }
    to {
        margin-right: -85px;
    }
}

@keyframes cloudMovementReverse {
    from {
        margin-left: 80px;
    }
    to {
        margin-left: -15px;
    }
}

@keyframes sunMovement {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 10px;
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(1);
    }
    70% {
        transform: translateY(90px) scale(1);
    }
    100% {
        transform: translateY(90px) scale(0);
    }
}
